extends components/layout.pug

block styles

block content
    .parallax-container.flex-height.valign-wrapper
        .parallax
            img.dark(src="/images/office.jpg", alt="", srcset="")
        .container
            h1.white-text.center OFAJ
            h2.white-text.center.light Industry 4.0 
            .row
                .col.s12.center
                    .btns
                        a.btn.btn-large.bordered.btn-flat.white-text.colored-border(href="/machine") FS
                    
                        a.btn.btn-large.bordered.btn-flat.white-text.colored-border(href="#") ~#~
                    
                        a.btn.btn-large.bordered.btn-flat.white-text.colored-border(href="#") ~#~
                    
                        a.btn.btn-large.bordered.btn-flat.white-text.colored-border(href="#") ~#~
                    
                        a.btn.btn-large.bordered.btn-flat.white-text.colored-border(href="#") ~#~

block scripts
    
