extends components/layout.pug

block styles

block content
    .row
        .col.s3
             
            //- a(href="/")
                h5 Machines
                    i.material-icons.left home
            
            .collection                
                a.collection-item(href="#!") Alvin
                if machine!=undefined
                    a.collection-item.active(href="#!") #{machine}
                a.collection-item(href="#!") Alvin
                a.collection-item(href="#!") Alvin

        .col.s9
            if machine==undefined
                .row
                    .col.s6
                        .card
                            .card-content
                                span.card-title Status
                                p Machines ON: 35
                                p Jobs completed: 453
                    .col.s6
                        canvas#chart-util-gen

            else
                .row
                    //- .col.s12
                        h1#namehead {{name}}
                    .col.s12
                        .card
                            .card-content
                                span.card-title #{machine}
                                    i.right.material-icons.green-text.medium fiber_manual_record
                            .card-action
                                h5.light Jobs produced: 45
                    .col.s6
                        canvas#chart-temp
                    .col.s6
                        canvas#chart-util
                    .col.s6
                        canvas#chart-jobs

block scripts
    script(src="/js/lib/Chart.bundle.min.js")
    script(src="/js/lib/moment.js")
    script(src="/js/init/homepage.js")
    script(src="/js/lib/vue.js")
    script(src="/js/trial.js")    
